<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Kazeli</title>
  <meta name="description" content="Kazeli template">
  <meta name="author" content="Edward">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Latest compiled and minified CSS 
    <link rel="stylesheet" href="static/css/jquery.mmenu.css">-->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/static/css/style.css?v=1.08">
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/dropzone.css">
   <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

	<div class="container-fluid header-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 logo-container">
					<a href="/">
						<img src="/static/images/kazeli-logo.jpg" class="img-responsive">
					</a>
				</div>
				<div class="pull-left search-box">
					<div class="search-container">
						<input type="text" name="search" id="search_input" class="headSearch" placeholder="Search Kazeli">
						<input type="submit" value="" id="search" >
						<div class="searchResults">
							<ul></ul>
						</div>
					</div>
				</div>
				<div class="pull-left user-details">
					<a href="/login" class="profile-name">Lonny</a>
					<span class="separator-topbar"></span>
					<a href="#" class="home-topbar">Home</a>
				</div>
				<div class="pull-left user-notifications">
					<a href="#" class="notification-btn">
						<span class="notifications-count">3</span>
					</a>
					<a href="#" class="settings-btn">
						<span class="arrow-down"></span>
					</a>
				</div>
				<div class="pull-left upgrade-box">
					<a href="#" class="upgrade-btn">Upgrade</a>
				</div>
			</div>
		</div>
	</div>