        <!-- SIDEBAR -->
        <aside class="site-sidebar scrollbar-enabled clearfix">
            <!-- User Details -->
            <div class="side-user">
                <a class="col-sm-12 media clearfix" href="javascript:void(0);">
                    <figure class="media-left media-middle user--online thumb-sm mr-r-10 mr-b-0">
                        <img src="http://bunity.com:8081/adminstatic/demo/users/user-image.png" class="media-object rounded-circle" alt="">
                    </figure>
                    <div class="media-body hide-menu">
                        <h4 class="media-heading mr-b-5 text-uppercase">Scott Adams</h4><span class="user-type fs-12">Edit Profile (...)</span>
                    </div>
                </a>
                <div class="clearfix"></div>
                <ul class="nav in side-menu">
                    <li><a href="page-profile.html"><i class="list-icon material-icons">face</i> My Profile</a>
                    </li>
                    <li><a href="app-inbox.html"><i class="list-icon material-icons">mail_outline</i> Inbox</a>
                    </li>
                    <li><a href="page-lock-screen.html"><i class="list-icon material-icons">settings</i> Lock Screen</a>
                    </li>
                    <li><a href="page-login.html"><i class="list-icon material-icons">settings_power</i> Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.side-user -->
            <!-- Sidebar Menu -->
            <nav class="sidebar-nav">
                <ul class="nav in side-menu">
				{{$active := 0}}
				{{range .AdminMenu}}
                <li {{if .SubMenu}}class="menu-item-has-children {{if inSlice .SubMenu $.Path}}active{{end}}"{{end}}><a href="{{if .Url}}{{.Url}}{{else}}javascript:void(0);{{end}}" {{if .SubMenu}}class="ripple"{{end}}><i class="list-icon material-icons">{{.Icon}}</i> <span class="hide-menu">{{.Name}}</span></a>
					{{if .SubMenu}}
                    <ul class="list-unstyled sub-menu">
					{{range .SubMenu}}
                        <li {{if eq .Url $.Path}}class="active"{{end}}><a href="{{.Url}}">{{.Name}}</a></li>
					{{end}}
                    </ul>
					{{end}}
                </li>
				{{end}}
                </li>
                </ul>
                <!-- /.side-menu -->
            </nav>
            <!-- /.sidebar-nav -->
        </aside>
        <!-- /.site-sidebar -->