<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="dashboard-content">
				<form class="businessForm" action="/businesses/add/finish" method="post">
					<div class="panel-body2">
						<div class="editPhotoTitle">Gallery (max 8 files):</div>
						<div id="galleryUpload" class="dropzone"><div class="dz-default dz-message"><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox" style="clear:both;"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div></div></div>
						<div class="editPhotoTitle">rofile (max 1 file):</div>
						<div id="profileUpload" class="dropzone"><div class="dz-default dz-message"><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div></div></div>
						<div class="editPhotoTitle">Cover (max 1 file):</div>
						<div id="coverUpload" class="dropzone"><div class="dz-default dz-message"><div class="dropzoneBox"><i class="fa fa-camera" aria-hidden="true"></i></div></div></div>
						<input type="hidden" id="businessID" name="businessID" value="{{.businessID}}">
						<br>
						<div class="pull-left">
							<a data-back="1" data-add="0" href="/businesses/add/step4/{{.businessID}}" class="btn btn-default businessContinue">Back</a>
						</div>
						<div class="pull-right">
							<a href="/businesses/add/step6/{{.businessID}}" data-back="0" data-add="0" class="btn btn-default businessContinue">Continue</a>
						</div>
						<input type="hidden" id="userID" name="userID" value="{{.userID}}">
						<input type="hidden" name="step" value="5">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
var thumbnailUrls = [];
{{range .galleryImages}}
thumbnailUrls.push({{.}});
{{end}}

var profileThumbnailUrls = [];
{{range .profileImages}}
profileThumbnailUrls.push({{.}});
{{end}}

var coverThumbnailUrls = [];
{{range .coverImages}}
coverThumbnailUrls.push({{.}});
{{end}}
</script>