<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="dashboard-content">
				<form class="businessForm" action="/businesses/add/finish" method="post">
					<div class="panel-body2">						
						<div class="form-group">
							<label for="email">Description</label>
								<textarea id="businessDescription" rows="15" name="business[description]" class="form-control">{{.business.Description}}</textarea>
						</div>
						<input type="hidden" name="step" value="3" class="formStep">
						<input type="hidden" id="businessID" name="businessID" value="{{.businessID}}">

						<div class="pull-left">
							<a data-back="1" data-add="0" href="/businesses/add/step2/{{.businessID}}" class="btn btn-default businessContinue">Back</a>
						</div>
						<div class="pull-right">
							<a href="/businesses/add/step4/{{.businessID}}" data-back="0" data-add="0" class="btn btn-default businessContinue">Continue</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<div class="form-status-holder"></div>
		</div>
	</div>
</div>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?api_key=husawtb3k5612t6jd3lnguws794b5c85rrowvtgkx5dq1whg"></script>