



	<div class="container">
		<div class="row">
			<div class="col-sm-10 left-container">
				<div class="head-banner">
					<img src="static/images/child_banner.jpg" class="img-responsive">
					<div class="cover-btn-container">
						<a class="cover-btn-action" href="#">
							<i class="cover-btn-bg"></i>
						</a>
					</div>
				</div>
				<div class="main-menu-container">
					<div class="profile-picture">
						<div class="inner-profile-picture">
							<div class="profile-btn-container">
								<a class="cover-btn-action" href="#">
									<i class="cover-btn-bg"></i>
								</a>
							</div>
							<img src="static/images/bridgeway-logo.jpg" class="img-responsive">
						</div>
					</div>
					<ul class="main-menu">
						<li><a href="#">Business Profile</a></li>
						<li><a href="#">Maps</a></li>
						<li><a href="#">Web Results</a></li>
						<li><a href="#">Articles</a></li>
					</ul>
					<div class="verify_kazeli">
						<img src="static/images/verify_kazeli.jpg" class="img-responsive">
					</div>
				</div>
				
				<div class="row breadcrumbs">
			<div class="col-sm-12">
				<ul>
					<li><a href="#">USA</a></li>
					<li><span class="separator">~</span><a href="#">Catasauqua . PA</a></li>
					<li><span class="separator">~</span><a href="#">Catasauqua Education</a></li>
					<li><span class="separator">~</span><a href="#">Catasauqua E-Learning</a></li>
					<li><span class="separator">~</span>Bridgeway Academy</li>
				</ul>
			</div>
		</div>
		
		<div class="row middle-content">
			<div class="col-sm-7 left-content">
				<div class="text-box">
					<h3 class="title-box">Bridgeway Academy</h3>
					<div class="box-content">
						<p>Curabitur sagittis interdum ipsum. Nam facilisis accumsan lorem nec ornare. Aliquam ullamcorper ante ultricies vulputate pharetra. Aliquam vel porta urna. Ut arcu urna, ultrices sed pellentesque non, mollis id odio. Aliquam eget efficitur dui. Nulla quis rhoncus eros.</p>
						<p>Praesent felis nunc, elementum a nunc id, ultricies vehicula lectus. Vestibulum blandit, risus in pellentesque ornare, magna ante ultrices nisi, nec laoreet lorem ante sed enim. Curabitur pharetra pulvinar molestie. Cras laoreet tellus felis, nec eleifend urna luctus vel. Curabitur elementum eget arcu sit amet condimentum. Donec iaculis nunc magna, ut cursus dui mollis eu. Sed sem eros, egestas non elementum ac, dictum non nulla.</p>
						<p><strong>Summus dolor plures dies</strong> manere non potest? Hoc simile tandem est? Mihi enim erit isdem istis fortasse iam utendum. Sed ego in hoc resisto; Utrum igitur tibi litteram videor an totas paginas commovere? Naturales divitias dixit parabiles esse, quod parvo esset natura contenta. Totum autem id externum est, et quod externum, id in casu est. Est enim effectrix multarum et magnarum voluptatum.</p>
						<p><strong>Nam de isto magna</strong> dissensio est. Haeret in salebra. Nunc omni virtuti vitium contrario nomine opponitur. Ita relinquet duas, de quibus etiam atque etiam consideret. Re mihi non aeque satisfacit, et quidem locis pluribus. Bonum negas esse divitias, praepositum esse dicis? Respondent extrema primis, media utrisque, omnia omnibus. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Videmus igitur ut conquiescere ne infantes quidem possint. De illis, cum volemus.</p>
					</div>
				</div>
				
				<div class="text-box">
					<h3 class="title-box">Recommendations</h3>
					<div class="box-content">
						<div class="link-right text-right">
							<a href="#">Request a Recommendation</a>
						</div>
						<div class="testimonial-box">
							<i>Nam de isto magna dissensio est. Haeret in salebra. Nunc omni virtuti vitium contrario noesse divitias, praepositum esse dicis? Respondent extrema primis, media utrisque, omnia omnibus. Qui-vere falsone, quaerere mittimus-dicitur - <strong>oculis se privasse;</strong></i>
						</div>
						<div class="testimonial-box">
							<i>Nam de isto magna dissensio est. Haeret in salebra. Nunc omni virtuti vitium contrario noesse divitias, praepositum esse dicis? Respondent extrema primis, media utrisque, omnia omnibus. Qui-vere falsone, quaerere mittimus-dicitur - <strong>oculis se privasse;</strong></i>
						</div>
						<div class="testimonial-box">
							<i>Nam de isto magna dissensio est. Haeret in salebra. Nunc omni virtuti vitium contrario noesse divitias, praepositum esse dicis? Respondent extrema primis, media utrisque, omnia omnibus. Qui-vere falsone, quaerere mittimus-dicitur - <strong>oculis se privasse;</strong></i>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-5 right-content">
				<div class="tip_boost text-center">
					Tip! Boost your views and share on Facebook
				</div>
				<div class="text-box info-box">
					<h3 class="title-box">Info</h3>
					<div class="box-content">
						<div class="link-right text-right">
							<a href="#">Update</a>
						</div>
						<div class="address-box box-small">
							<small class="block">Address</small>
							<span class="block">334 Second St., Catasauquq, Pennsylvania, USA, 18032</span>
						</div>
						<div class="phone-box box-small">
							<small class="block">Phone</small>
							<span class="block">1-800-863-1474</span>
						</div>
						<div class="website-box box-small">
							<small class="block">Website</small>
							<a href="www.bridgewayacademy.com">www.BridgewayAcademy.com</a>
						</div>
					</div>
				</div>
				
				<div class="text-box info-box">
					<h3 class="title-box">Related Businesses</h3>
					<div class="box-content">
						<div class="row business-box">
							<div class="col-sm-4 business-img">
								<img src="static/images/business-logo.jpg" class="img-responsive">
							</div>
							<div class="col-sm-8 business-text">
								<strong class="block">Bridgeway Academy</strong>
								<span class="block">Catasauqua, Pennsylavania, USA Education, Learning</span>
							</div>
						</div>
						<div class="row business-box">
							<div class="col-sm-4 business-img">
								<img src="static/images/business-logo.jpg" class="img-responsive">
							</div>
							<div class="col-sm-8 business-text">
								<strong class="block">Bridgeway Academy</strong>
								<span class="block">Catasauqua, Pennsylavania, USA Education, Learning</span>
							</div>
						</div>
						<div class="row business-box">
							<div class="col-sm-4 business-img">
								<img src="static/images/business-logo.jpg" class="img-responsive">
							</div>
							<div class="col-sm-8 business-text">
								<strong class="block">Bridgeway Academy</strong>
								<span class="block">Catasauqua, Pennsylavania, USA Education, Learning</span>
							</div>
						</div>
						<div class="row business-box">
							<div class="col-sm-4 business-img">
								<img src="static/images/business-logo.jpg" class="img-responsive">
							</div>
							<div class="col-sm-8 business-text">
								<strong class="block">Bridgeway Academy</strong>
								<span class="block">Catasauqua, Pennsylavania, USA Education, Learning</span>
							</div>	
						</div>
						<div class="row business-box">
							<div class="col-sm-4 business-img">
								<img src="static/images/business-logo.jpg" class="img-responsive">
							</div>
							
							<div class="col-sm-8 business-text">
								<strong class="block">Bridgeway Academy</strong>
								<span class="block">Catasauqua, Pennsylavania, USA Education, Learning</span>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
				
			</div>
			<div class="col-sm-2 right-container">
				
			</div>
		</div>
	</div>
	
		<div id="messages"
		style="border-width: 1px; border-style: solid; height: 400px; width: 375px;">

	</div>
	<input type="text" id="messageTxt" />
	<button type="button" id="sendBtn">Send</button>
	<script type="text/javascript">
		var HOST = {{.Host}}
	</script>
	

		