<div style="padding:30px 0;" class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#login">Login</button>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#signup">Sign Up</button>
		<br><br>
		
		</div>
	</div>
</div>
</div>

<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <button id="loginFB" data-action="login" class="icon-btn btn-large signup-login-form__btn-xl btn btn-facebook btn-block" tybe="button">
			<span class="icon-container"><i class="fa fa-facebook space-1" aria-hidden="true"></i></span>
			<span class="text-container">Log in with Facebook</span>
		</button>
		
		<button id="loginGoogle" class="icon-btn btn-large signup-login-form__btn-xl btn btn-google btn-block" tybe="button">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-google-image">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="super-g">
            <path d="M9,3.48 C10.69,3.48 11.83,4.21 12.48,4.82 L15.02,2.34 C13.46,0.89 11.43,0 9,0 C5.48,0 2.44,2.02 0.96,4.96 L3.87,7.22 C4.6,5.05 6.62,3.48 9,3.48 L9,3.48 L9,3.48 Z" id="Shape" fill="#EA4335"></path>
            <path d="M17.64,9.2 C17.64,8.46 17.58,7.92 17.45,7.36 L9,7.36 L9,10.7 L13.96,10.7 C13.86,11.53 13.32,12.78 12.12,13.62 L14.96,15.82 C16.66,14.25 17.64,11.94 17.64,9.2 L17.64,9.2 L17.64,9.2 Z" id="Shape" fill="#4285F4"></path>
            <path d="M3.88,10.78 C3.69,10.22 3.58,9.62 3.58,9 C3.58,8.38 3.69,7.78 3.87,7.22 L0.96,4.96 C0.35,6.18 0,7.55 0,9 C0,10.45 0.35,11.82 0.96,13.04 L3.88,10.78 L3.88,10.78 L3.88,10.78 Z" id="Shape" fill="#FBBC05"></path>
            <path d="M9,18 C11.43,18 13.47,17.2 14.96,15.82 L12.12,13.62 C11.36,14.15 10.34,14.52 9,14.52 C6.62,14.52 4.6,12.95 3.88,10.78 L0.97,13.04 C2.45,15.98 5.48,18 9,18 L9,18 L9,18 Z" id="Shape" fill="#34A853"></path>
            <path d="M0,0 L18,0 L18,18 L0,18 L0,0 L0,0 Z" id="Shape"></path>
        </g>
    </g>

    </svg>
			<span class="text-container">Log in with Google</span>
		</button>
		<div class="signup-or-separator">
    <span class="h6 signup-or-separator--text">or</span>
    <hr>
  </div>
		<form method="post">
		  <div class="form-group">
			<input type="email" class="form-control" name="email" id="email" placeholder="Email">
		  </div>
		  <div class="form-group">
			<input type="password" class="form-control" name="password" id="password" placeholder="Password">
		  </div>
		  <div class="text-right">
		  <a href="#" type="button" class="" data-toggle="modal" data-target="#forgotPassword">Forgot password?</a>
		 </div>
		 <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sing up</h4>
      </div>
      <div class="modal-body">
        <button id="signupFB" data-action="signup" class="icon-btn btn-large signup-login-form__btn-xl btn btn-facebook btn-block" tybe="button">
			<span class="icon-container"><i class="fa fa-facebook space-1" aria-hidden="true"></i></span>
			<span class="text-container">Sign up with Facebook</span>
		</button>
		
		<button id="singupGoogle" class="icon-btn btn-large signup-login-form__btn-xl btn btn-google btn-block" tybe="button">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-google-image">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="super-g">
            <path d="M9,3.48 C10.69,3.48 11.83,4.21 12.48,4.82 L15.02,2.34 C13.46,0.89 11.43,0 9,0 C5.48,0 2.44,2.02 0.96,4.96 L3.87,7.22 C4.6,5.05 6.62,3.48 9,3.48 L9,3.48 L9,3.48 Z" id="Shape" fill="#EA4335"></path>
            <path d="M17.64,9.2 C17.64,8.46 17.58,7.92 17.45,7.36 L9,7.36 L9,10.7 L13.96,10.7 C13.86,11.53 13.32,12.78 12.12,13.62 L14.96,15.82 C16.66,14.25 17.64,11.94 17.64,9.2 L17.64,9.2 L17.64,9.2 Z" id="Shape" fill="#4285F4"></path>
            <path d="M3.88,10.78 C3.69,10.22 3.58,9.62 3.58,9 C3.58,8.38 3.69,7.78 3.87,7.22 L0.96,4.96 C0.35,6.18 0,7.55 0,9 C0,10.45 0.35,11.82 0.96,13.04 L3.88,10.78 L3.88,10.78 L3.88,10.78 Z" id="Shape" fill="#FBBC05"></path>
            <path d="M9,18 C11.43,18 13.47,17.2 14.96,15.82 L12.12,13.62 C11.36,14.15 10.34,14.52 9,14.52 C6.62,14.52 4.6,12.95 3.88,10.78 L0.97,13.04 C2.45,15.98 5.48,18 9,18 L9,18 L9,18 Z" id="Shape" fill="#34A853"></path>
            <path d="M0,0 L18,0 L18,18 L0,18 L0,0 L0,0 Z" id="Shape"></path>
        </g>
    </g>

    </svg>
			<span class="text-container">Sign up with Google</span>
		</button>
		<div class="signup-or-separator">
    <span class="h6 signup-or-separator--text">or</span>
    <hr>
  </div>
		<form method="post" action="/register">
			<div class="form-group">
				<input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" name="email" id="email" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" id="password" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<div>{{.r}}</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="forgotPassword" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
		<p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
		<form method="post" action="/forgot_password">
			
			<div class="form-group">
				<input type="email" class="form-control" name="email" id="email" placeholder="Email">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
