<div class="container{{if .auth}} searchAjax{{end}}">
	<div class="row">
		<div class="col-md-3">
		{{if .auth}}
			
			<h3>Filter results</h3>
			<h4>CATEGORY</h4>
			<div class="choose_categoryContainer">
				<a href="#" class="choose_categoryBtn">Choose a cateogry</a>
			</div>
			<input class="form-control filterCateg hidden" name="filterCateg">
			<ul class="list-unstyled categFilterList">
				
				<li><a {{if not $.businessCategory}}class="active" {{end}} href="/search/business?q={{$.searchStr}}">Any Category</a></li>
				{{range  $index, $page := .industries}}
				{{ $count := add $index 1 }}
				
				<li {{if (and (ge $count 15) (ne .Name $.businessCategory))}}class="hidden"{{end}}><a {{if eq .Name $.businessCategory}}class="active"{{end}} href="/search/business?q={{$.searchStr}}{{if ne $.businessCategory .Name}}&business_category={{.Name}}{{end}}{{if $.verified}}&verified=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}">{{.Name}}</a></li>
				{{end}}
				<li><a class="view_all" href="/businesses/categories">View All</a></li>
			</ul>
			<h4>VERIFIED</h4>
			<a class="verifiedBtn {{if .verified}}active{{end}}" href="/search/business?q={{$.searchStr}}{{if $.businessCategory}}&business_category={{$.businessCategory}}{{end}}{{if $.verified}}{{else}}&verified=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}"> Verified</a>
			<h4>Country</h4>
			<form>
			<input class="searchTerm" type="hidden" name="q" value="{{.searchStr}}" >
			{{if .businessCategory}}
			<input class="businessCategory" type="hidden" name="business_category" value="{{.businessCategory}}" >
			{{end}}
			{{if .verified}}
			<input class="verifiedField" type="hidden" name="verified" value="{{.verified}}" >
			{{end}}
			<select onchange="this.form.submit()" class="form-control businessCountry" name="country">
				<option value="">All countries</option>
				{{range .countries}}
				<option {{if eq . $.selectedCountry}} selected {{end}} value="{{.}}">{{.}}</option>
				{{end}}
			</select>
			</form>
		{{end}}
		</div>
		<div class="col-md-9">
			<ul class="list-unstyled bizFindResults">
			{{if index .business}}
			{{range .business}}
				<li>
					{{if index .profile}}
				
					{{end}}
					<div class="">
						<a href="/{{._id.Hex}}" >{{.name}}</a>
						<p style="margin-bottom:0;">{{.industry}}</p>
						<p style="margin-bottom:0;">{{.city}}, {{.country}}</p>
						<p style="margin-bottom:0;">{{.nrLikes}} like this</p>
					</div>
				</li>
			{{end}}
			</ul>
			
			
			<div class="webSearchNav">
				<ul class="list-inline unstyled text-center">
				{{range .pageNum}}
					<li class="list-inline-item"><a href="/search/business{{if eq . 1}}{{else}}/{{.}}/{{end}}?q={{$.searchStr}}{{if $.businessCategory}}&business_category={{$.businessCategory}}{{end}}{{if $.verified}}&verified=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}">{{.}}</a>
				{{end}}
			
				</ul>
			</div>
			{{end}}
			
			
			
		</div>
	</div>
</div>