<div class="container{{if .auth}} searchAjax{{end}}">
	<div class="row">
		<div class="col-md-3">
		{{if .auth}}
			
			<h3>Filter results</h3>
			<h4>CATEGORY</h4>
			<input class="form-control filterCateg" name="filterCateg">
			<ul class="list-unstyled categFilterList">
				
				<li><a href="/search/business?q={{$.searchStr}}">Any Category</a></li>
				{{range  $index, $page := .industries}}
				{{ $count := add $index 1 }}
				
				<li {{if ge $count 15}}class="hidden"{{end}}><a href="/search/business?q={{$.searchStr}}&business_category={{.Name}}{{if $.verified}}&verified=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}">{{.Name}}</a></li>
				{{end}}
				<li><a href="/businesses/categories">View All</a></li>
			</ul>
			<h4>VERIFIED</h4>
			<a href="/search/business?q={{$.searchStr}}{{if $.businessCategory}}&business_category={{$.businessCategory}}{{end}}{{if $.verified}}{{else}}&verified=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}"> Verified</a>
			<h4>LIKED BY FRIENDS</h4>
			<a href="/search/business?q={{$.searchStr}}{{if $.businessCategory}}&business_category={{$.businessCategory}}{{end}}{{if $.verified}}&verified=1{{end}}{{if $.likedFriends}}{{else}}&liked_friends=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}"> Liked by friends</a>
			<h4>Country</h4>
			<form>
			<input class="searchTerm" type="hidden" name="q" value="{{.searchStr}}" >
			{{if .businessCategory}}
			<input class="businessCategory" type="hidden" name="business_category" value="{{.businessCategory}}" >
			{{end}}
			{{if .verified}}
			<input class="verifiedField" type="hidden" name="verified" value="{{.verified}}" >
			{{end}}
			<select onchange="this.form.submit()" class="form-control businessCountry" name="country">
				<option value="">All countries</option>
				{{range .countries}}
				<option {{if eq . $.selectedCountry}} selected {{end}} value="{{.}}">{{.}}</option>
				{{end}}
			</select>
			</form>
		{{end}}
		</div>
		<div class="col-md-9">
			<ul class="list-unstyled bizFindResults">
			{{if index .business}}
			{{range .business}}
				<li>
					{{if index .profile}}
					<a class="bProfilePic" href="/{{._id.Hex}}" class="{{getRatio (index .profile 0)}}">
						<img width="72" height="72" src="/static/uploads/{{.user_id.Hex}}/{{._id.Hex}}/profile/{{index .profile 0}}">
					</a>
					{{end}}
					<div class="">
						<a href="/{{._id.Hex}}" class="{{if index .profile}}{{getRatio (index .profile 0)}}{{end}}">{{.name}}</a>
						<p style="margin-bottom:0;">{{.industry}}</p>
						<p style="margin-bottom:0;">{{.city}}, {{.country}}</p>
						<p style="margin-bottom:0;">{{.nrLikes}} like this</p>
					</div>
				</li>
			{{end}}
			</ul>
			
			
			<div class="webSearchNav">
				<ul class="list-inline unstyled text-center">
				{{range .pageNum}}
					<li class="list-inline-item"><a href="/search/business{{if eq . 1}}{{else}}/{{.}}/{{end}}?q={{$.searchStr}}{{if $.businessCategory}}&business_category={{$.businessCategory}}{{end}}{{if $.verified}}&verified=1{{end}}{{if $.selectedCountry}}&country={{$.selectedCountry}}{{end}}">{{.}}</a>
				{{end}}
			
				</ul>
			</div>
			{{end}}
			
			
			
		</div>
	</div>
</div>