.dataTable td .dt-checkboxes, .dataTable th input {
	display: none;
}
.dataTable thead .select-checkbox {
  position: relative;
}
.dataTable thead .select-checkbox:before,
.dataTable thead .select-checkbox:after {
  display: inline-block;
  color: #455A64;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
.dataTable thead .select-checkbox:before {
  content: '';
  background-color: #fff;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  border: 2px solid #607D8B;
  border-radius: 2px;
}
.dataTable thead .selected .select-checkbox:after {
  content: "\e600";
  font-family: 'icomoon';
  font-size: 16px;
  line-height: 1;
  margin-top: -8px;
  margin-left: -8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dataTable thead .indeterminate .select-checkbox:after {
    content: "";
    line-height: 1;
    width: 10px;
    display: block;
    height: 3px;
    margin-top: -2px;
    background-color: #555555;
    margin-left: -5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dataTable .actionBtns {
	position:relative;
}
.dataTable .actionBtnsContainer {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	padding-top:9px;
}
.dataTable .actionBtnsContainer button {
	float:inherit;
	padding:2px 11px;
}
.dataTable .actionBtnsContainer i {
	font-size:14px;
}
.dataTable td.details-control:before, .hideShowBtn:before, .hideShowBtn:focus:before {
	color:#333;
    font-family: fontawesome;
	font-size:1.2rem;
	content: "\f055";
	font-size:1.8rem;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.dataTable tr.details td.details-control:before, .showBusiness.hideShowBtn:before {
    content: "\f056";
	
}
.dataTable  td.details-control, .dataTable  th.details-control {
	text-align:center;
	cursor: pointer;
	position:relative;
	line-height:45px;
}
.hideShowBtn, .hideShowBtn:hover {
	color: #555;
}
.businessTable .actionBtnsContainer {
	position:static;
	padding:0;
}
.businessTable .tdBusinessName {
	padding:10px 40px 10px 100px;
}
.editBusinessForm .dz-image img {
	max-width:140px;
	height:140px;
}
.editBusinessForm .dz-details {
	display:none;
}
.dropzone .dz-preview a.dz-remove, .dropzone-previews .dz-preview a.dz-remove {
	margin-top:15px;
}
.businessEditModal .chatInput {
	min-height:50px;
	max-width:100%;
}

.chat-list .media-content {
	white-space:pre-wrap;
}

.chat-list .media {
	margin-left:5px;
	margin-right:5px;
	margin-top:0;
	padding:10px;
}
.chat-list .media.reversed {
	margin-right:5px;
	margin-left:5px;
}
.chat-list > li .fa {
	opacity:0;
}
.chat-list > li:hover .fa {
	opacity:1;
	cursor:pointer;
}
.chat-list .media.child {
	margin-left: 30px;
    border-left: 2px solid #dddfe2;
}
.chat-list .media.reversed.child {
	margin-right: 30px;
    border-right: 2px solid #dddfe2;
	border-left: none;
}
.chat-list .media.edit .media-content {
	 -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
	 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
	 box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}
.dataTable  .editable-click, .deleteActivityType {
	cursor:pointer;
}
.chat-list .reversed .media-content:not([class*=bg-]) {
	background-color: #c7edfc;
    border-color: #c7edfc;
}
.chat-list .reversed .media-content {
	color: #333333;
}
#atjs {
	min-height:36px;
}
@media (min-width: 1250px) {
	  .businessEditModal .modal-dialog {
		width: 1200px;
	  }
}